{% extends 'transactions/base.html' %}

{% block content %}

    <div class="m-6">
        <h1 class="text-2xl prose">Bank Transactions</h1>
    </div>

    <div class="overflow-x-auto ml-4">
        <table class="table prose">
            <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Bank Balance</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.bank_balance }}</td>
                    <td>
                    <label>
                        <select>
                            {% for account in accounts %}
                                <option value="{{ account.name }}">{{ account.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="stats text-primary-content prose">
        <div class="stat">
            <div class="stat-title">Account balance</div>
            <div class="stat-value">$89,400</div>
        </div>

        <div class="stat">
            <div class="stat-title">Budget balance</div>
            <div class="stat-value">$89,400</div>
        </div>
    </div>
{% endblock %}