{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" data-theme="pastel">
<head>
    <meta charset="UTF-8">
    <title>Home Budget</title>
    {% tailwind_css %}
</head>

<header class="navbar bg-base-100 shadow-lg p-4 flex justify-between">
    <div class="flex prose">
        <h1 class="text-xl">Bank Transactions</h1>
    </div>
    <div class="flex">
        <button class="btn"><a href="{% url 'get_income_statement' %}">Income Statement</a></button>
        <button class="btn"><a href="{% url 'get_all_accounting_transactions' %}">Accounts</a></button>
        <button class="btn"><a href="{% url 'bank_transactions' %}">Bank Transactions</a></button>
        <button class="btn"><a href="{% url 'misc_bank_transactions' %}">Misc Bank Transactions</a></button>
    </div>
</header>

<body>
<div class="container mx-auto pt-10">
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>